# Check https://editorconfig.org for details

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
tab_width = 8

[*.sh]
shell_variant = bash  # used by `shfmt`

[*.y{a,}ml]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[{Makefile,*.mak}]
indent_style = tab

[COMMIT_EDITMSG]
max_line_length = 72
